<style>
      .sub-header {
        position: relative;
        height: auto;
        background: white;
        display: flex;
        flex-wrap: wrap;
        padding: 12px 40px 2px 40px;
    }

    .widget-list {
        width: 30px;
        height: 30px;
        margin-right: 10px;
        margin-bottom: 10px;
        cursor: pointer;
    }
</style>

<template>
    <div>
        widget
    </div>
</template>

<script>
    export default {
        
    }
</script>