<style>
    .widget-properties {
        position: absolute;
        right: 10px;
        top: 10px;
        width: 250px;
        background-color: white;
    }

    .widget-properties__title {
        text-align: center;
        padding: 10px 0;
        color: white;
        background-color: #424242;
        margin-bottom: 9px;
    }

    .widget-properties__subtitle,
    .widget-properties__label,
    .widget-properties__input,
    .widget-properties__divider {
        padding: 0 11px;
    }

    .widget-properties__subtitle {
        color: #BDBDBD;
        font-weight: 600;
        font-size: 14px;
        margin-bottom: 5px;
    }

    .widget-properties__label {
        display: inline-block;
        width: 50%;
    }

    .widget-properties__input {
        width: 40%;
        border: 1px solid black;
        margin-bottom: 10px;
    }

    input['disabled'] {
        background-color: red;
    }

    .widget-properties__divider {
        margin: 10px 0;
        width: 100%;
        height: 2px;
        background-color: #424242;
    }
</style>

<template>
    <div id="widget-properties">
        <div class="widget-properties" v-show="false">
            <div class="widget-properties__title">Properties</div>
            <div class="widget-properties__label">Tag Name</div>

            <!-- <input class="widget-properties__input" type="text"> -->

            <div class="widget-properties__divider"></div>
            <div class="widget-properties__subtitle">Size</div>
            <div class="widget-properties__label">H:</div>
            <input class="widget-properties__input" type="text">
            <div class="widget-properties__label">W:</div>
            <input class="widget-properties__input" type="text">
        </div>

        <!-- LINE -->
        <div class="widget-properties" v-show="message == 'Line'">
            <div class="widget-properties__title">{{ message }} Properties</div>
            <div class="widget-properties__label">ID</div>
            <input class="widget-properties__input" type="text">

            <div class="widget-properties__divider"></div>

            <div class="widget-properties__subtitle">Curve X</div>
            <div class="widget-properties__label">Select tags:</div>
            <select class="widget-properties__input">
                <option></option>
                <option v-for="list in tagList">{{list.name}}</option>
            </select>
            <div class="widget-properties__label">Type:</div>
            <input class="widget-properties__input" type="text" disabled>

            <div class="widget-properties__label">Count max:</div>
            <input class="widget-properties__input" type="text">

            <div class="widget-properties__subtitle">Curve Y</div>
            <div class="widget-properties__label">Select tags:</div>
            <select class="widget-properties__input" @change="test">
                <option></option>
                <option v-for="list in tagList">{{list.name}}</option>
            </select>
            <div class="widget-properties__label">Type:</div>
            <input class="widget-properties__input" type="text" disabled>
        </div>

        <!-- BAR -->
        <div class="widget-properties" v-show="message == 'Bar'">
            <div class="widget-properties__title">{{ message }} Properties</div>
            <div class="widget-properties__label">ID</div>
            <input class="widget-properties__input" type="text">

            <div class="widget-properties__divider"></div>

            <div class="widget-properties__subtitle">Curve X</div>
            <div class="widget-properties__label">Select tags:</div>
            <select class="widget-properties__input">
                <option></option>
            </select>
            <div class="widget-properties__label">Type:</div>
            <input class="widget-properties__input" type="text" disabled>
            <div class="widget-properties__label">Count max:</div>
            <input class="widget-properties__input" type="text">

            <div class="widget-properties__subtitle">Curve Y</div>
            <div class="widget-properties__label">Select tags:</div>
            <input class="widget-properties__input" type="text">
            <div class="widget-properties__label">Type:</div>
            <input class="widget-properties__input" type="text" disabled>
        </div>

    </div>
</template>

<script>
    export default {
        props: [
            'message'
        ],
        data() {
            return {
                tagList: []
            }
        },
        methods: {
            test() {
                console.log(123131)
            }
        },
        mounted() {
            this.tagList = this.$store.state.tagList
        },
    }
</script>