<style>
    #customers {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    #customers td,
    #customers th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #customers tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #customers tr:hover {
        background-color: #ddd;
    }

    #customers th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #40C4FF;
        color: white;
    }

    td.action {
        width: 200px;
    }

    td.action span {
        margin-left: 10px;
        cursor: pointer;
    }

    .tags-button {
        padding: 10px;
        background-color: #40C4FF;
        text-align: center;
        font-weight: bold;
        color: white;
        width: 60%;
        margin: 10px auto;
        border-radius: 7px;
        cursor: pointer;
    }

    .modal {
        position: fixed;
        top: 30%;
        left: calc(50% - 145px);
        width: 290px;
        height: auto;
        background: white;
        box-shadow: 0 0 2px 2px lightgray;
        z-index: 2;
        animation: animatetop 200ms ease;
    }

    @keyframes animatetop {
        from {
            top: 0%;
            opacity: 0
        }
        to {
            top: 30%;
            opacity: 1
        }
    }

    .modal__title {
        padding: 20px;
        font-size: 20px;
        text-align: center;
    }

    .modal-button {
        display: flex;
        justify-content: flex-end;
        padding: 10px 0;
    }

    .modal-button__list {
        margin: 0 10px;
        padding: 10px 20px;
        /* background-color: #EEEEEE; */
        cursor: pointer;
        font-weight: bold;
        color: #40C4FF;
        border-radius: 20px;
    }
    .modal-button__list:hover {
        background-color: #40C4FF;
        color: white;
    }

    .modal-button__list:last-child {
        margin-left: 0;
    }


    .modal input {
        margin: 0 5%;
        width: 90%;
        border: 1px solid #40C4FF;
        padding: 10px;
        border-radius: 7px;
        outline: none;
        font-size: 15px;
    }

    .tags-container {
        position: relative;
        display: flex;
        padding: 0 15px;
        margin: 20px 0;
        width: 100%;
        background-color: transparent;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .tags-list {
        width: 125px;
        margin-bottom: 10px;
        padding: 10px;
        display: flex;
        border: 1px solid #40C4FF;
        cursor: pointer;
        user-select: none;
    }

    .tags-list:hover{
        border: 1px solid #FBC02D;
    }
    .tags-list:hover .tags-list__radio {
        background-color: #FBC02D;
        border: 1px solid #FBC02D;

    }

    .tags-list__radio.selected {
        background-color: #40C4FF;
    }

    .tags-list__radio {
        position: relative;
        top: 1px;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        border: 1px solid #40C4FF;
    }

    .tags-list__name {
        margin-left: 5px;
        font-size: 14px;
    }
</style>

<template>
    <div>
        <table id="customers">
            <tr>
                <th>No</th>
                <th>Tags Name</th>
                <th>Tags Type</th>
                <th>Action</th>
            </tr>
            <tr v-for="(data, index) in dataTable" :key="index">
                <td>{{ index + 1 }}</td>
                <td>{{ data.name }}</td>
                <td>{{ data.type }}</td>
                <td class="action">
                    <span @click="onEdit(data.name, data.type, index)">
                        <i class="material-icons">edit</i>
                    </span>
                    <span @click="onDelete(index)">
                        <i class="material-icons">delete</i>
                    </span>
                </td>
            </tr>
        </table>
        <div class="tags-button" @click="showModal">TAMBAH</div>

        <div class="modal" v-show="modalOpen">
            <div class="modal__title">Add new tags</div>
            <input type="text" placeholder="Nama Tags" v-model="tagName" ref="input">
            <div class="tags-container">
                <div class="tags-list" v-for="(tag, index) in tags" :key="index" @click="tagsListOnClick(tag[0], index)">
                    <div class="tags-list__radio"></div>
                    <div class="tags-list__name">{{ tag[0] }}</div>
                    <!-- <div class="tags-list__name">{{ i }}</div> -->
                </div>
            </div>
            <div class="modal-button" ref="test">
                <div class="modal-button__list" @click="onCancel">CANCEL</div>
                <div class="modal-button__list" @click="onSave">SAVE</div>
            </div>
        </div>

    </div>
</template>

<script>
    // Boolean
    // Integer
    // Float
    // String
    // Timenow
    import axios from 'axios'
    export default {
        mounted() {
            this.$store.state.tagList = JSON.parse(localStorage.getItem('data-tags'))
            this.dataTable = this.$store.state.tagList
        },
        data() {
            return {
                dataTable: [],
                tagName: '',
                tagType: 'Boolean',
                tags: [
                    ['Boolean', 'tags-list__radio selected'],
                    ['Integer', 'tags-list__radio'],
                    ['Float', 'tags-list__radio'],
                    ['String', 'tags-list__radio'],
                    ['Timenow', 'tags-list__radio'],
                ],
                modalOpen: false,
                isEdit: false,
                dataEditIndex: null,

            }
        },
        // {{ $store.state.count }}
        methods: {
            tagsListOnClick(type, index) {
                const dataList = document.getElementsByClassName('tags-list__radio')
                const dataListArray = Array.prototype.slice.call(dataList)
                // for (var i = 0; i < dataList.length; i++) {
                //     dataList[i].className = 'tags-list__radio'
                // }
                this.tagType = type
                dataListArray.forEach(data => {
                    data.className = 'tags-list__radio'
                })
                dataList[index].className = 'tags-list__radio selected'
            },
            onEdit(name, type, index) {
                this.dataEditIndex = index
                this.tagName = name
                this.tagType = type
                this.showModal()
                this.isEdit = true
            },
            onDelete(index) {
                // alert('delete list')
                this.dataTable.splice(index, 1)
                localStorage.setItem('data-tags', JSON.stringify(this.dataTable))
            },

            onCancel() {
                console.log('is edit', this.isEdit)
                this.showModal()
            },
            onSave() {

                // check duplicate name
                let isDuplicate
                try {
                    this.dataTable.forEach(data => {
                        console.log(data.name)
                        this.tagName === data.name ? isDuplicate = true : isDuplicate = false
                    });
                } catch(err) {
                    console.log(err)
                }

                // for duplicate name
                if (isDuplicate && !this.isEdit) {
                    console.log(isDuplicate)
                    console.log(!this.isEdit)
                    return alert('Nama tags tidak boleh sama')
                } else {
                    if (this.isEdit) {
                        console.log('on edit')
                        this.dataTable[this.dataEditIndex].name = this.tagName
                        this.dataTable[this.dataEditIndex].type = this.tagType
                        console.log(this.dataTable)
                        // this.dataTable.push(data)
                        this.isEdit = false
                    } else {
                        let data = {
                            name: this.tagName,
                            type: this.tagType
                        }
                        console.log(data)
                        this.dataTable.push(data)
                        this.isEdit = false
                    }
                }

                this.tagName = ''
                this.showModal()
                console.log('is edit', this.dataTable)
                localStorage.setItem('data-tags', JSON.stringify(this.dataTable))
            },
            showModal() {
                this.isEdit = false
                this.modalOpen ? this.modalOpen = false : this.modalOpen = true
                console.log(this.$ref)
                // this.$store.commit('setPopupaddregisterShow', true)
            }
        }
    }
</script>