<style>
    * {
        box-sizing: border-box;
    }

    body {
        margin: 0;
    }

    .container {
        padding: 0;
    }

    .workspace-container {
        font-family: sans-serif;
    }

    a {
        color: inherit;
        text-decoration: none;
    }

    .header {
        background-color: #40C4FF;
        display: flex;
        justify-content: space-between;
        line-height: 70px;
        padding: 0 30px;
        user-select: none;
    }

    .header__title {
        font-family: 'Rammetto One', cursive;
        color: white;
        font-size: 35px;
        letter-spacing: 3px;
    }

    .menu {
        display: flex;
        padding: 10px 0;
    }

    .menu__item {
        font-family: sans-serif;
        color: #E1F5FE;
        font-weight: bold;
        line-height: 50px;
        font-size: 19px;
        padding: 0 25px;
        letter-spacing: 4px;
        cursor: pointer;
        margin-left: 5px;
    }

    .menu__item:hover {
        background-color: white;
        color: #40C4FF;
        border-radius: 20px;
    }

    .workspace {
        position: relative;
        height: calc(100vh - 70px);
        background-color: #F5F5F5;
    }

    .workspace-title {
        text-align: center;
        position: relative;
        top: 35vh;
    }

    .workspace-title__primary {
        font-weight: 500;
        font-size: 24px;
        color: #bdbdbd;
    }

    .workspace-title__secondary {
        color: #bdbdbd;
        font-weight: 500;
    }

    .toggle {
        position: fixed;
        bottom: 1vw;
        right: 1vw;
        width: 55px;
        height: 55px;
        padding: 10px;
        border-radius: 50%;
        background-color: #40C4FF;
        cursor: pointer;
        user-select: none;
    }

    .toggle>.material-icons {
        color: white;
        font-size: 32px !important;
    }


    .toggle-menu {
        position: absolute;
        top: -163px;
        padding: 20px;
        background-color: white;
        border: 1px solid #40C4FF;
        left: -82px;
        border-radius: 25px;
    }

    .toggle-menu__list {
        padding: 10px;
        color: #40C4FF;
        text-align: center;
    }

    .toggle-menu__list:hover {
        color: white;
        background: #40C4FF;
        border-radius: 7px;
    }

    .footer {
        color: white;
        text-align: center;
        padding: 5px 20px;
        background-color: #42A5F5;
    }

    .widget-toolbar {
        width: 120px;
        height: 120px;
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
        transition: background-color 0.3s;
    }

    .widget-resize {
        color: white;
        width: 120px;
        height: 120px;
        position: absolute;
        box-sizing: border-box;
    }
</style>

<template>
    <div class="workspace-container" id="">
        <div class="header">
            <div class="header__title">GOIOT</div>
            <div class="menu">
                <div class="menu__item" @click="insert">Insert</div>
                <div class="menu__item" @click="tags">Tags</div>
            </div>
        </div>
        <div class="sub-header" v-show="insertOpen">
            <!-- widget -->
        </div>
        <ws-widget v-show="insertOpen"></ws-widget>

        <ws-tags v-show="tagsOpen"></ws-tags>

        <div class="workspace" ref="workspace">
            <!-- resize component here -->
            <ws-properties v-show="propertiesOpen" message="Line">
            </ws-properties>
        </div>
        <div class="toggle" @click="toggle">
            <i class="material-icons">description</i>
            <div class="toggle-menu" v-show="toggleOpen">
                <div class="toggle-menu__list">New</div>
                <div class="toggle-menu__list">Save</div>
                <div class="toggle-menu__list">Load</div>
            </div>
        </div>
        <div class="footer">&copy; Copyright Duhans Teknologi</div>
        <div id="tempIdDiv"></div>

    </div>
</template>
<script>
    import axios from 'axios'
    import interactjs from 'interactjs'

    import WorkspaceWidget from './components/WorkspaceWidget.vue'
    import WorkspaceTags from './components/WorkspaceTags.vue'
    import WorkspaceProperties from './components/WorkspaceProperties.vue'

    export default {
        components: {
            'ws-widget': WorkspaceWidget,
            'ws-tags': WorkspaceTags,
            'ws-properties': WorkspaceProperties,
        },
        data() {
            return {
                insertOpen: false,
                tagsOpen: false,
                toggleOpen: false,
                propertiesOpen: true,
            }
        },
        methods: {
            insert() {
                this.insertOpen ? this.insertOpen = false : this.insertOpen = true
            },
            tags() {
                this.tagsOpen ? this.tagsOpen = false : this.tagsOpen = true
            },
            properties() {
                this.propertiesOpen ? this.propertiesOpen = false : this.propertiesOpen = true
            },
            toggle() {
                this.toggleOpen ? this.toggleOpen = false : this.toggleOpen = true
            },
        },
        created() {
            // get all widget
            // axios.get('http://localhost:3000/api/widgetsvg')
            //     .then(function (response) {
            //         console.log('widget', response);
            //     })
            //     .catch(function (error) {
            //         console.log(error);
            //     });
            
        },
        mounted() {

        },
    }
</script>